[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
tzdata = "*"
gunicorn = "*"
psycopg-binary = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "*"
