{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
  <article>
    <h1>All Reservations</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
        <pre id="bookings"></pre>
      </div>
      <!--End col-->

      <!--Begin col-->
      <div class="column">
        <div class="videowrap">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5015.252878849196!2d72.85198247094257!3d19.020356999535892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cf272fcb6c2f%3A0xbecd600f1af861e2!2sMancherji%20Joshi%20Five%20Gardens!5e0!3m2!1sen!2sin!4v1693242771871!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
      <!--End col-->
    </div>
    <!--End row-->




  </article>
</section>
<script>
  const bookings = JSON.parse('{{ bookings|safe }}')
  console.log(bookings);
  const pretty_json = JSON.stringify(bookings,null,2)
  document.getElementById('bookings').innerHTML = pretty_json
</script>
{% endblock %}

